* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.counter-app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  text-transform: capitalize;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  margin-top: 2rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
}
.counter div{
  font-size: 2rem;
  padding: 1rem;
}

.counter button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 3rem;
  padding: 1rem 3rem;
  cursor: pointer;
  margin: 1rem;
}
.counter .dev{
  border-right: 1px solid #000;
}
.counter .inc{
  border-left: 1px solid #000;
}

.resetBtn{
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 4rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 300;
  background: #f1f1f1;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px;
}
.resetBtn:hover{
  transition: all .5s linear;
  background: #f1f1f1c4;
  box-shadow: inset rgba(0, 0, 0, 0.1) 1px 1px 3px;
}

@media (max-width: 400px) {
  .counter button {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  .resetBtn{
    padding: .7rem 2rem;
    font-size: 1.3rem;
  }
  .title {
    font-size: 1.6rem;
  }
  
}